<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- <link rel="stylesheet" href="../css/system_works.css"> --><!-- Linking to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='system_works.css') }}">
</head>

    <body>

        <h2>
            Object Detection Inference
        </h2>
        <p> Here, it is Object Detection Inference with Onnx and TensorRT <br>
            Frameworks, Basically it is Yolov5 Object Detection Highly Optimized <br>
            And Quantized! Model is quantized with TensorRT Dynamic Libraries,  <br>
            providing Asynchoronous Client-Server Communication! <br>
          
            If you want to try your custom object Detection Model. Then follow me!
        </p>

        <!--video soruce-->




         <h2> YoloV8 Human Detection and Tracking on Jetson Tx2</h2>

         <p> Here, it isYolov8  Object Detection and Tracking Inference with Onnx and TensorRT <br>
            Frameworks, Basically it is Yolov8 Object Detection Highly Optimized <br>
            And Quantized! Extended Kalman Filter is used together with model is quantized with  <br>
            TensorRT Dynamic Libraries,  <br>
            providing Asynchoronous Client-Server Communication! <br>
        
        </p>




        <h2> YoloV8 Real Time Inference</h2>

        <p> Here, it isYolov8  Object Detection and Tracking Inference with Onnx and TensorRT <br>
           Frameworks, Basically it is Yolov8 Object Detection Highly Optimized <br>
           And Quantized model, TensorRT Dynamic Libraries,  <br>
           providing Asynchoronous Client-Server Communication! <br>
       
       </p>




    </body>
</html>